@font-face {
  font-family: "Gotham book";
  src: url("../public/fonts/Gotham-Book.otf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
  font-family: "Gotham book", "Roboto", sans-serif;
}
body {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
ul {
  display: flex;
}
a {
  text-decoration: none;
}
